@media screen and (max-width: 600px) {
    .left-info {
        width: 450px;
    }
    .days-list {
        position: relative;
        top: -145px;
        right: -20px;
    }
    .day-info {
        position: relative;
        top: -130px;
        left: 5%;
    }
    .btn-container {
        position: relative;
        top: -160px;
        right: -55px;
        width: 450px;
    }
    .txt {
        position: relative;
        top: -25px;
    }
    body {
        height: 1%;
    }
    .today-weather {
        bottom: 58%;
        left: 1%;
        overflow: hidden;
    }
}
@media screen and (min-width: 768px)  and (max-width: 992px) {
    .today-weather{
        bottom: 21%;
        left: 16%;
        overflow: hidden;
    }
}