@media screen and (max-width: 600px) {
    .left-info {
        width: 410px;
    }
    .today-weather {
        bottom: 28%;
        left: 1%;
        overflow: hidden;
    }
}
@media screen and (max-width : 768px) {
    html, body {
        height: 100%;
        margin: 0;
        overflow: hidden;
    }
    .today-weather {
        bottom: 21%;
        left: 8%;
    }
}