@media screen and (max-width: 600px) {
    .left-info {
        width: 410px;
    }
    .today-weather {
        bottom: 28%;
        left: 1%;
        overflow: scroll;
    }
}
@media screen and (max-width : 768px) {
    }
    .today-weather {
        bottom: 21%;
        left: 8%;
        overflow: hidden;
    }